# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.mo
*.pid
*.db-shm
*.db-wal
# db.sqlite3 (KEEP THIS FILE)
!db.sqlite3

# Media and static files
/media/
staticfiles/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log

# VSCode, PyCharm, and IDE configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.local
venv/
ENV/
env/
venv.bak/

# System files
.DS_Store
Thumbs.db
